.HelpButton {
  background-color: #2f2f2f;
  margin: 15px;
  width: 45px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px -20px 60px 0.05px tomato;
  border-radius: 45%;
  /* border-bottom-left-radius: 0%; */
  font-size: medium;
  cursor: pointer;
}
.HelpButton::after {
  content: "";
  width: 45px;
  height: 35px;
  padding-left: 5px;
  position: absolute;
  border-top: 2px solid tomato;
  /* border-left: 1px solid #0dd80d; */
  border-radius: 50%;
}

.InfoButton {
  background-color: #2f2f2f;
  margin: 15px;
  width: 45px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px -20px 60px 0.05px tomato;
  border-radius: 45%;
  /* border-bottom-right-radius: 0%; */
  font-size: medium;
  cursor: pointer;
}

.InfoButton:before {
  content: "";
  width: 45px;
  height: 35px;
  position: absolute;
  border-top: 2px solid tomato;
  /* border-right: 1px solid #0dd80d; */
  border-radius: 50%;
}

.Overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #2f2f2fe8;
  z-index: 2;
  cursor: pointer;
}

.Overlay.appear {
  display: block;
}

.OverlayText {
  padding-right: 50px;
  color: tomato;
  overflow-y: auto;
  position: absolute;
  height: 100vh;
  scroll-margin-block-end: 100px;
  top: 50%;
  left: 50%;
  font-size: small;
  text-align: left;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
table th {
  border-top: 0.025em solid rgb(179, 176, 176);
  border-left: 0.025em solid rgb(179, 176, 176);
  border-bottom: 0.025em solid rgb(179, 176, 176);
}
table td {
  border-left: 0.025em solid rgb(179, 176, 176);
  border-bottom: 0.025em solid rgb(179, 176, 176);
}

a {
  color: aqua;
}
