.Flare-Exporter-Options {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: space-around;
}

.DropZoneStyle {
  width: 200px;
  height: 50px;
  border: 1px;
  padding-top: 25px;
  border-style: Solid;
  border-color: white;
}

.Options-Fields {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.Canvas-Area {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}
