/* Outer Circle */
.OuterCircle {
  position: relative;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  border: solid 1px;
  color: #6a6e6a;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

/* Inner Circle */
.Record.icon {
  transition: 250ms all ease;
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background: #f85381;
}
/* Switches the button to stop */
.Record.icon.stop {
  transition: 250ms all ease;
  width: 20px;
  height: 20px;
  border-radius: 0%;
}

/* Inner Circle */
.Play.icon {
  transition: 250ms all ease;
  content: "";
  position: absolute;
  margin-left: 2px;
  width: 0;
  height: 0;
  border-top: 11px solid transparent;
  border-left: 20px solid #f85381;
  border-bottom: 11px solid transparent;
}
/* Switches the button to stop */
.Play.icon.pause {
  transition: 250ms all ease;
  margin-left: 0px;
  height: 20px;
  border-style: double;
  border-width: 0px 0px 0px 20px;
}

.Download.icon {
  color: #f85381;
  position: absolute;
  margin-left: 0px;
  margin-top: 5px;
  width: 16px;
  height: 4px;
  border-radius: 2px;
  border: solid 2px currentColor;
  border-top: none;
}

.Download.icon:before {
  content: "";
  position: absolute;
  left: 7px;
  top: -12px;
  width: 2px;
  height: 10px;
  background-color: currentColor;
}

.Download.icon:after {
  content: "";
  position: absolute;
  left: 5px;
  top: -7px;
  width: 4px;
  height: 4px;
  border-top: solid 2px currentColor;
  border-right: solid 2px currentColor;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.IconLabel {
  font-size: medium;
}

.IconText {
  color: #f85381;
  font-size: 0.9em;
  font-weight: 500;
  cursor: pointer;
}

.IconStyle {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
