.Flare-Exporter-Options {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.DropZoneStyle {
  border: 1px;
  border-style: Solid;
  flex-grow: 0.75;
  border-color: #6a6e6a;
  font-size: larger;
}

.IconButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-width: 900px;
  width: 100%;
}

.inputfile {
  visibility: hidden;
}

.filelabel {
  font-size: small;
  color: white;
  display: inline-block;
}

.VerticalLine {
  border-left: 0.03em solid #6a6e6a;
}
.HorizontalLine {
  border-top: 0.03em solid #0dd80d;
  font-size: small;
}

.FlareOptionsGrid {
  display: grid;
}
