.App {
  text-align: center;
}

.App-header {
  background-color: #2f2f2f;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  font-size: calc(10px + 2vmin);
  color: white;
}
